$pink: #FF3E79;
$whitetransparent: rgba(255, 255, 255, 0.8);
$white: #FFFFFF;
$shadow: rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
$grey: #7E7E82;
$turquoise: #D9FFF5;
$smokywhite: #f8f8f8;
$graphiteblack: #1B1C21;
$lightturquoise: #41F6D7;
$lightgrey: #EAEAEA;