body {
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
    color: $graphiteblack;
    background-color: $smokywhite;
    padding: 0;
    margin: 0 auto;
}

.repair-equipment {
    &__header {
        background: linear-gradient(90deg, $smokywhite 0%, $white 98.61%);
        border-top: 1px solid $turquoise;
        margin: 40px 0 16px 16px;
        padding: 16px;
    }

    @media (min-width: 768px){
        &__navigation {
            max-height: 160px;
            overflow: hidden;
            flex-wrap: wrap;
            margin-left: 32px;
            list-style: none;
            row-gap: 16px;
            column-gap: 32px;
        }

        &__list {
          width: 240px;
          height: 160px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 274px;
        height: 160px;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid $lightgrey;
        border-radius: 6px;
        background-color: $white;
        box-sizing: border-box;
    }

    &__button-arrow {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        background-image: url(/src/img/icons/go.svg);
        background-color: transparent;
        width: 40px; 
        height: 40px;
        background-size: cover;
        border: none;
        cursor: pointer;
    }

        &__button-all {
            @media (max-width: 768px) {
                display: none;
            }
    
            background-color: transparent;
            font-family: TTLakes-Medium, sans-serif;
            font-size: 16px;
            font-weight: 500;
            border: none;
            margin-left: 48px;
            margin-top: 24px;
            position: relative;
            cursor: pointer;
        }
    
        &__button-all::before {
          position: absolute;
          left: -16px;
          top: 25%;
          width: 24px;
          height: 24px;
          content: "";
          background-image: url(/src/img/icons/arrowdown.svg);
          background-repeat: no-repeat;
        }
}