.sidebar {
    position: fixed;
    z-index: 2;
    transition: .3s;
    max-width: 0;
    
    @media (max-width: 1366px) {
        visibility: hidden;
        opacity: 1;
    }
    
    &_open {
        position: fixed;
        visibility: visible;
        min-width: 100%;
        opacity: 1;
        transform: translate(320px, 0);
        transition: 0.3s;
        background-color: $whitetransparent;
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100vh;
        background-color: $white;
        transform: translate(-100%, 0);
        transition: 0.3s;
        @media (max-width: 1366px) {
            box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 16px;
    }

    &__navigation-menu {
        flex-direction: column;
        padding-left: 16px;
    }

    &__navigation-item {
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
    }

    &__navigation-item:hover {
        color: $grey;
        cursor: pointer;
        transition: .2s;
        content: "";
        background-image: url('/src/img/highlight.svg');
        background-repeat: no-repeat;
        background-position: 0 50%;
        position: relative;
        left: -5%;
        padding-left: 5%;
    }

    &__navigation-link,
    &__navigation-link:visited {
        width: 100%;
        text-decoration: none;
        color: $graphiteblack;
    }

    &__navigation-link:hover,
    &__navigation-link:active {
        color: $grey;
    }

    &__footer {
        margin-top: auto;
        margin-bottom: 32px;
        padding-left: 16px;
    }

    &__feedback {
        display: flex;
        gap: 24px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 40px;
    }

    &__contacts-link,
    &__contacts-link:visited,
    &__contacts-link:active,
    &__contacts-link:hover {
        text-decoration: none;
        color: $graphiteblack;
    }

    &__phone {
        font-weight: 900;
        font-size: 24px;
    }

    &__languanes-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: 'TTLakes-Medium';
        font-size: 16px;
        font-weight: 900;
        padding: 5px;
    }

    &__languanes-button:hover {
        color: $grey;
    }

    &_close {
        @media (min-width: 1366px){
            display: none;
        }
    }
}